streamlit
openai
pandas
requests
pydantic
tavily-python
simple_salesforce
supabase
googlemaps
beautifulsoup4
temp
google-api-python-client
pandas
ace_tools
numpy
scikit-learn
nfl_data_py
matplotlib
pyarrow
fastparquet